# Streamlit and UI
streamlit
matplotlib
pillow

# Image Matching
opencv-python-headless
numpy
pandas
scikit-learn
torch

# CLIP
open-clip-torch

# HTML to image (current method)
html2image

# Other utilities
pathlib
